<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LD2410C</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="page-container">
        <h1 style="text-align: center;">LD2410C</h1>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 style="text-align: center;">Détection</h2>
                        <div class="detection-info">
                            <p>Distance: <span id="distance">0</span> cm</p>
                            <p>Angle: <span id="angle">0</span> °</p>
                            <p>État: <span id="state">Inactif</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="distance-area">
            <h2 style="text-align: center;">Distance</h2>
            <p>Movement Target Distance: <span id="movement_target_distance">0</span> m </p>
            <p>Stationary Target Distance: <span id="stationary_target_distance">0</span> m </p>
            <p>Detection Distance: <span id="detection_distance">0</span> m </p>
        </div>
        <div class="data-area">
            <div>
                <h2>Gates</h2>
                <div class="gates-container">
                    <div class="gate" id="gate0">Gate 0
                        <div class="gate-info" id="gate0-info">
                            <p>Mouvement Distance: <span id="gate0-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate0-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate1">Gate 1
                        <div class="gate-info" id="gate1-info">
                            <p>Mouvement Distance: <span id="gate1-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate1-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate2">Gate 2
                        <div class="gate-info" id="gate2-info">
                            <p>Mouvement Distance: <span id="gate2-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate2-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate3">Gate 3
                        <div class="gate-info" id="gate3-info">
                            <p>Mouvement Distance: <span id="gate3-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate3-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate4">Gate 4
                        <div class="gate-info" id="gate4-info">
                            <p>Mouvement Distance: <span id="gate4-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate4-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate5">Gate 5
                        <div class="gate-info" id="gate5-info">
                            <p>Mouvement Distance: <span id="gate5-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate5-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate6">Gate 6
                        <div class="gate-info" id="gate6-info">
                            <p>Mouvement Distance: <span id="gate6-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate6-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate7">Gate 7
                        <div class="gate-info" id="gate7-info">
                            <p>Mouvement Distance: <span id="gate7-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate7-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                    <div class="gate" id="gate8">Gate 8
                        <div class="gate-info" id="gate8-info">
                            <p>Mouvement Distance: <span id="gate8-mouvement-distance_gate">0</span> </p>
                            <p>Rest Distance: <span id="gate8-static-distance_gate">0</span> </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        const eventSource = new EventSource("http://localhost:3000/ld2410c/sse");

        // Fonction pour trouver la porte où la personne est détectée
        function findGate(gates) {
            if (!Array.isArray(gates)) {
                return null; // Pas de données, aucune détection
            }
            let detectedGates = [];
            gates.forEach((value, index) => {
                if (value === 100) {
                    detectedGates.push(index + 1);
                }
            });
            if (detectedGates.length === 0) {
                return null;
            }
            return detectedGates.reduce((a, b) => a + b, 0) / detectedGates.length;
        }

        // Fonction pour mettre à jour l'interface avec les données reçues
        function updateInterface(data) {
            const state = document.getElementById('state');
            const mouvementDistanceGate0 = document.getElementById('gate0-mouvement-distance_gate');
            const mouvementDistanceGate1 = document.getElementById('gate1-mouvement-distance_gate');
            const mouvementDistanceGate2 = document.getElementById('gate2-mouvement-distance_gate');
            const mouvementDistanceGate3 = document.getElementById('gate3-mouvement-distance_gate');
            const mouvementDistanceGate4 = document.getElementById('gate4-mouvement-distance_gate');
            const mouvementDistanceGate5 = document.getElementById('gate5-mouvement-distance_gate');
            const mouvementDistanceGate6 = document.getElementById('gate6-mouvement-distance_gate');
            const mouvementDistanceGate7 = document.getElementById('gate7-mouvement-distance_gate');
            const mouvementDistanceGate8 = document.getElementById('gate8-mouvement-distance_gate');
            const staticDistanceGate0 = document.getElementById('gate0-static-distance_gate');
            const staticDistanceGate1 = document.getElementById('gate1-static-distance_gate');
            const staticDistanceGate2 = document.getElementById('gate2-static-distance_gate');
            const staticDistanceGate3 = document.getElementById('gate3-static-distance_gate');
            const staticDistanceGate4 = document.getElementById('gate4-static-distance_gate');
            const staticDistanceGate5 = document.getElementById('gate5-static-distance_gate');
            const staticDistanceGate6 = document.getElementById('gate6-static-distance_gate');
            const staticDistanceGate7 = document.getElementById('gate7-static-distance_gate');
            const staticDistanceGate8 = document.getElementById('gate8-static-distance_gate');
            const movementTargetDistance = document.getElementById('movement_target_distance');
            const staticTargetDistance = document.getElementById('stationary_target_distance');
            const detectionTargetDistance = document.getElementById('detection_distance');

            const movementGates = data.target_data.engineering_model?.mouvement_distance_gates;
            const staticGates = data.target_data.engineering_model?.static_distance_gates;

            mouvementDistanceGate0.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[0];
            mouvementDistanceGate1.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[1];
            mouvementDistanceGate2.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[2];
            mouvementDistanceGate3.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[3];
            mouvementDistanceGate4.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[4];
            mouvementDistanceGate5.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[5];
            mouvementDistanceGate6.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[6];
            mouvementDistanceGate7.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[7];
            mouvementDistanceGate8.innerHTML = data.target_data.engineering_model?.mouvement_distance_gates[8];
            staticDistanceGate0.innerHTML = data.target_data.engineering_model?.static_distance_gates[0];
            staticDistanceGate1.innerHTML = data.target_data.engineering_model?.static_distance_gates[1];
            staticDistanceGate2.innerHTML = data.target_data.engineering_model?.static_distance_gates[2];
            staticDistanceGate3.innerHTML = data.target_data.engineering_model?.static_distance_gates[3];
            staticDistanceGate4.innerHTML = data.target_data.engineering_model?.static_distance_gates[4];
            staticDistanceGate5.innerHTML = data.target_data.engineering_model?.static_distance_gates[5];
            staticDistanceGate6.innerHTML = data.target_data.engineering_model?.static_distance_gates[6];
            staticDistanceGate7.innerHTML = data.target_data.engineering_model?.static_distance_gates[7];
            staticDistanceGate8.innerHTML = data.target_data.engineering_model?.static_distance_gates[8];

            staticTargetDistance.innerHTML = data.target_data.stationary_target_distance / 100;
            detectionTargetDistance.innerHTML = data.target_data.detection_distance / 100;
            movementTargetDistance.innerHTML = data.target_data.movement_target_distance / 100;

            // Trouver la porte où la personne bouge ou est statique
            const movementGate = findGate(movementGates);
            const staticGate = findGate(staticGates);

            // Déterminer la porte principale (priorité au mouvement)
            const detectedGate = movementGate || staticGate;

            if (detectedGate === null) {
                state.innerHTML = "Aucune détection";
                console.log("Aucune détection");
                return;
            }

            // Calculer la distance en fonction de la porte détectée
            const detectionDistance = data.target_data.detection_distance; // 0.75m par porte

            // Calculer l'angle de détection
            const angleInRadians = Math.atan((detectionDistance / 100) / (0.75 * detectedGate));
            const detectionAngle = (angleInRadians * 180) / Math.PI; // Convertir en degrés


            // Afficher les informations dans la console
            state.innerHTML = "Porte détectée : " + detectedGate;
            distance.innerHTML = detectionDistance / 100;
            angle.innerHTML = detectionAngle;
            console.log(`Porte détectée : ${detectedGate}`);
            console.log(`Distance : ${detectionDistance.toFixed(2)} m`);
            console.log(`Angle : ${detectionAngle.toFixed(2)}°`);
        }

        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data); // Convertir les données JSON
            console.log("Received data:", data);
            updateInterface(data); // Mettre à jour l'interface avec les données reçues
        };

        eventSource.onerror = (error) => {
            console.error("Error with SSE:", error);
        };
    </script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }


        .ten {
            background-image:
                linear-gradient(126deg, transparent 50%, white 50%),
                linear-gradient(90deg, white 50%, transparent 50%);
        }

        .page-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            background-color: #f0f0f0;
            height: 100vh;
        }

        .gates-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

        }
    </style>
</body>

</html>